@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
:root {
	--palette0: #333;
	--palette1: darkgoldenrod;
	--palette2: goldenrod;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--palette2);
	background-color: var(--palette0);
	font-family: 'Comfortaa', cursive;
	overflow-x: hidden;
	display: grid;
	grid-template-rows: 100vh 0vh 100vh;
	align-items: center;
	text-align: center;
}
section{ height: 100vh; display: grid;}

#Landing{ 
	display: grid;
	justify-items: center;
	grid-template-rows: 1fr 1fr 2fr;
}
#Landing>*{max-width: 40ch;}
#title{ align-self: flex-end; font-weight: 700; font-size: xx-large;}
#aboutbtn{
	height: 100px;
	width: 100px;
	cursor: pointer;
	clip-path: circle();
	display: grid;
}
#aboutbtn::before, #aboutbtn::after{
	content: "";
	position: absolute;
	grid-row: 1;
	grid-column: 1;
	background-color: var(--palette1);
	width: 100px;
	height: 100px;
	transition: all ease-in-out 250ms;
}
#aboutbtn::before{
	clip-path: polygon(
		0% 0%, 50% 20%, 100% 0%,
		100% 20%, 50% 40%, 0% 20%);
}
#aboutbtn::after{
	clip-path: polygon(
		0% 30%, 50% 50%, 100% 30%,
		100% 50%, 50% 70%, 0% 50%);
}
#aboutbtn.active::before, #aboutbtn.active::after{
	clip-path: polygon(
		0% 40%, 50% 40%, 100% 40%,
		100% 60%, 50% 60%, 0% 60%);
}
#aboutbtn.active::before{transform: rotate(30deg);}
#aboutbtn.active::after{transform: rotate(-30deg);}
#about{ margin: 10vh auto 15vh auto; transition: opacity ease-in-out 500ms;}
#about:not(.active){ opacity: 0;}
#Projects{
	color: #000;
	transform: skewY(-15deg);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
	transition: transform ease-in-out 250ms;
}
#Projects.active{ transform: skewY(-15deg) translateY(50vh);}
#Projects>.card{ 
	background-color: var(--palette1);
	margin: 0.5em 0.25em;
	width: 95vw;
	max-width: 30em;
	border-radius: 1em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.card>*{ 
	transform: skewY(15deg);
	margin: 5ch .75em 0 .75em;
}
.card>h3{ font-size: xx-large;}
.card>.stack{color: var(--palette2);}
.card>.stack>*{
	margin-bottom: .2em;
	padding: .2em 1em;
	background-color: var(--palette0);
	border-radius: 5em;
}
.card>h4{
	background-color: var(--palette2);
	border-radius: 5em;
}
.card>p{
	display: block;
	max-height: 0;
	overflow: hidden;
}
.card>h4.active+p{
	max-height: fit-content;
}
.card>h4:hover{
	cursor:cell;
}
.card>div{
	position:fixed;
	bottom: 10%;
	align-self: center;
	display: flex;
	gap: 16px;
	flex-direction: row;
}
.lbtn{height: 100px;}

#Projects>.padd{
	background-color: rgb(97, 70, 3);
	margin: 0.5em 0.25em;
	width: 25vw;
	border-radius: 0 1em 1em 0;
}
#Projects>.padd:last-child{ border-radius: 1em 0 0 1em;}

#fgrid{
	align-self: flex-end;
	display: grid;
	align-items: flex-end;
	justify-items: center;
	grid-template-columns: repeat(4,1fr);
	margin: 50vh auto 0 auto;
	padding-bottom: 10px;
	gap: 0.25em;
}
#fgrid>h2{ margin: 0.3em; text-decoration: underline;}
#fgrid>h3{ align-self: center;}
a{text-decoration: none;}
.cert{color: white; font-size: larger;}