@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
:root {
	--palette0: #333;
	--palette1: darkgoldenrod;
	--palette2: goldenrod;
}

* {
	box-sizing: border-box;
	margin:0; padding:0;
	text-decoration: none;
	outline: none;
}

body {
	width: 100vw;
	color: var(--palette2);
	background-color: var(--palette0);
	font-family: 'Comfortaa', cursive;
}

.carousel-item>.container>p{
    max-width: 40rem;
}

#Projects{
    transform: skewY(-15deg);
    justify-content: center;
}
#Projects>.card>*{ transform: skewY(15deg);}
.card{
    padding: 3em 0;
    background: var(--palette1);
}
.card .btn{
    background-color: var(--palette0);
    color: white;
}
.card .badge{
    background-color: var(--palette0);
    color: var(--palette2);
}

#Skills{padding-bottom: 1.2rem;}
#Skills_Header{margin-top: 5rem;}
.s_grid{
    display: grid;
    grid-template-columns:  max-content repeat(3,min-content);
    gap: 1em;
    align-items: center; justify-content: center;
}
.s_grid>img{width: 64px; height: 64px;}

.icon {
    height: 3em;
}
strong{
    font-size: 1.15em;
}

a{
    text-decoration: none;
    color: white;
}